sudo: false
language: php
dist: trusty
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - hhvm
  - nightly

services:
  - mysql

matrix:
  include:
    - php: "5.3"
      dist: precise
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

script:
  - "cd tests && php -dshort_open_tag=Off -dmagic_quotes_gpc=Off run.php"
